extends ../layouts/admin

block navigation

block content
    form( method="post", action="/admin" )
        fieldset
            legend Connexion

            div.form-elt
                label( for="login" ) Login :
                input#login( name="login", type="text", placeholder="Votre login", autofocus )/

            div.form-elt
                label( for="pass" ) Mot de passe :
                input#pass( name="pass", type="password", placeholder="Votre mot de passe" )/

            div.button
                button( type="submit" ) Connexion
