extends ../layouts/admin

block content
    form#delete( action="/admin/delete", method="post" )
        fieldset
            input( name="file", type="hidden", value=post.file )/

            div.message
                p
                    = "Êtes-vous sûr de vouloir supprimer le billet "
                    strong= post.title
                    = " ?"

            if( error )
                div.error
                    p Error !

            div.button
                button#discard( type="submit", name="action", value="discard" ) Retour
                button#confirm( type="submit", name="action", value="confirm" ) Supprimer
