extends ../layouts/admin

block content
    form( action="/admin/save", method="post" )
        fieldset
            input( name="file", type="hidden", value=( post.file || false ) )/

            div.form-elt
                label( for="title" ) Title :
                input#title( name="title", type="text", placeholder="titre du billet", required, autofocus, value=( post.title || false ) )/

            div.form-elt
                label( for="date" ) Date de publication :
                input#date( name="date", type="date", required, value=( post.getDate() || false ) )/
                input#time( name="time", type="time", required, value=( post.getTime() || false ) )/

            div.article-redactor
                div.form-elt
                    label( for="content" ) Contenu :
                    textarea#content( name="content", rows=20, cols=30, required )= post.content
                div.preview
                    != post.markdown

            if( error )
                div.error
                    p Error !

            div.button
                button( type="submit" ) Enregistrer


