!!!
html
    head
        meta( charset="utf-8" )/
        title= "ecto > administration > " + pageTitle

    body
        header
            h1
                a( href="/" ) ecto

            h2= "administration > " + pageTitle

        section
            block content

        footer
            p Ce blog utilise le moteur ecto
