!!!
html
    head
        meta( charset="utf-8" )/
        title= pageTitle

    body
        h1= pageTitle

        h2 Hello, World

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius tellus quis vestibulum vehicula. Aliquam erat volutpat. Nam vitae ligula non purus cursus condimentum. Suspendisse potenti. Proin vel facilisis enim. Aliquam sodales consequat nulla, ac ultricies dui convallis vel. In risus sapien, suscipit eu viverra non, consequat porttitor nibh.
