extends layout

block content
    h2 Liste des billets

    ul
        - for( var i = -1, oPost; oPost = posts[ ++i ]; )
            li
                a( href=oPost.url )
                    strong= oPost.title
                    time( datetime=oPost.date )= oPost.date
