!!!
html
    head
        meta( charset="utf-8" )/
        title= pageTitle

    body
        #wrapper
            header
                h1= pageTitle

            block content

            block sidebar
                aside
                    h2 About me...
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.

            footer
                p
                    | Ce blog utilise le moteur
                    = " "
                    a( href="http://github.com/leny/ecto" ) ecto

        block scripts
