!!!
html
    head
        meta( charset="utf-8" )/
        block title
            title= pageTitle

        link( rel="stylesheet", href="styles/public.css" )/

    body( class=mode )
        #wrapper
            header
                h1
                    a( href="/" )= pageTitle

            block content

            block sidebar
                aside
                    h2 About me...
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.

            footer
                p
                    | Ce blog utilise le moteur
                    = " "
                    a( href="http://github.com/leny/ecto" ) ecto
                    = " - "
                    a( href="/admin" ) (admin)

        block scripts
