extends ../layouts/public

block title
    title= pageTitle + " > " + article.title

block content
    article
        header
            h2= article.title
            time( datetime=article.date )= article.date

        div.content
            != article.content

        footer
            p
                a( href="/" ) Retour
